

/*menu slide*/
.mySlides {
    display: none;
    margin-top: 20px;
    border-radius: 15px;
}

.slideshow-container{
    max-width: 700px;
    position: relative;
    margin: auto;
}

.carousel-inner > .item {
    transition-duration: 3s;
}

/*Content 2*/

/*Content 3*/
.container-fluid{
    margin-top: 30%
}
