{% extends 'base/base.html' %}
{% block title %}Danh sách học sinh{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
      {% block script %}
        {{ super() }}
      {% endblock %}
        <!-- Table điểm -->
      {% block button %}
        <a href="/score-semester-2">
          <button type="button" class="btn btn-danger">Bảng điểm học kì 2</button>
        </a>
        <a href="/score-semester-1">
          <button type="button" class="btn btn-danger">Bảng điểm học kì 1</button>
        </a>
      {% endblock %}
      {% block table_head %}
        <th>Student ID</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Address</th>
        <th>Class</th>
      {% endblock %}
      {% block table_body %}
        {% for data in studentList %}
          <tr>
            <td>{{ data.student_id }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.date_of_birth }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.name }}</td>
          </tr>
        {% endfor %}
      {% endblock %}
    {% else %}
        {% include 'login.html' %}
    {% endif %}
{% endblock %}
